<section class="heroContainer">
    <div class="background-frame"></div>
    <div class="background-filter"></div>
    <svg class="logo-frame" viewBox="0 0 288 90" width="100%">
        <defs>
            <clipPath id="marcus_mask">
                <polygon points="108.18248,8.588684 5.631578,8.588684 5.631578,39.093933 117.769638,39.093933" />
            </clipPath>

            <clipPath id="wieland_mask">
                <polygon points="164.961166,29.740215 283.134674,29.740215 283.134674,60.245464 155.996628,60.245464 "/>
            </clipPath>
        </defs>

        <use class="w_graphic" href="#w_whole" x="110.1918" y="14.9823" />
        
        <g class="marcus_container">
            <use class="marcus_graphic" href="#marcus_full" x="14.0457" y="14.9823" />
        </g>

        <g class="wieland_container">
            <use class="wieland_graphic" href="#wieland_full" x="168.8723" y="32.0067" />
        </g>
        <text class="profession_title" y="80" text-anchor="middle" x="144">
            Full Stack Developer
        </text>
    </svg>

    
</section>

<section class="summaryContainer">
    <div class="srcryBox photoContainer">
        <img class="summary_photo" src="../../../assets/macbook_01.png" alt="">
    </div>

    <article class="srcryBox summaryTextContainer">
        <h2 class="srcryTxt sectionTitle">
            Summary
        </h2>
        <p class="srcryTxt summaryText">
            Seasoned Full Stack Developer with experience building microfrontends, scalable UIs and backend APIs. Expert in creating robust automated tests and implementing state management solutions for complex applications. Seeking to leverage my extensive skillset in a dynamic Full Stack Developer role.
        </p>
    </article>
</section>

<section class="skillSection">

</section>