:host{
    display: grid;
    grid-auto-rows: auto;
}

.heroContainer{
    display: grid;
    place-items: center;
    grid-auto-rows: auto;
    height: 100vh;
    transform: translateY(0);
    animation: heroAnimation 300ms ease-out forwards;
    animation-delay: 4s;
}

@keyframes heroAnimation{
    from {transform: translateY(0);}
    to{transform: translateY(-110vh); display: none;}
}

.background-frame{
    grid-area: 1/1/2/2;
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/intro_background.jpg');
    background-size: cover;
    z-index: 1;
}

.background-filter{
    grid-area: 1/1/2/2;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: hsl(var(--gray-700), .96);
    z-index: 2;
    animation: background-filter-animation 1.8s ease-in forwards;
}

@keyframes background-filter-animation{
    from{background-color: hsl(var(--gray-900), 1); }
    to{ background-color: hsl(var(--gray-700), .96); }
}

.logo-frame{
    grid-area: 1/1/2/2;
    z-index: 3;
}

.w_graphic{
    transform-origin: center;
    transform: translateX(-105%);
    animation: wGroupAnimationSequence .7s ease-in forwards;
    animation-delay: 1.8s;
}

@keyframes wGroupAnimationSequence{
    from{
        transform: translateX(-105%) rotate(0deg);
    }
    to{
        transform: translateX(0) rotate(1440deg);
    }
}

.marcus_container{
    clip-path: url('#marcus_mask');
}

.wieland_container{
    clip-path: url('#wieland_mask');
}

.marcus_graphic{
    --direction:45%;
    fill: hsl(var(--gray-500), 1);
    transform: translateX(var(--direction));
    animation: nameGroupAnimationSequence .3s ease-in forwards;
    animation-delay: 2.5s;
}

.wieland_graphic{
    --direction:-45%;
    transform: translateX(-45%);
    fill: hsl(var(--yellow-500), 1);
    animation: nameGroupAnimationSequence .3s ease-in forwards;
    animation-delay: 2.8s;
}

@keyframes nameGroupAnimationSequence{
    0%{ transform: translateX(var(--direction)) skew(20deg, 0deg); }
    98%{ transform: skew(20deg, 0deg); }
    100%{ transform: translateX(0) skew(0); }
}

.profession_title{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    fill: hsl(var(--gray-300), 1);
    transform: scale(.05, 1);
    opacity: 0;
    transform-origin: center;
    animation: workTitleAnimationSequence .2s ease-in forwards;
    animation-delay: 3.1s;
}

@keyframes workTitleAnimationSequence{
    0%{ opacity: 0; transform: scale(.05, 1); }
    66%{ transform: scale(1.4, 1); }
    100%{ opacity: 1; transform: scale(1, 1); }
}

.summaryContainer{
    width: 100%;
    display: grid;
    justify-self: center;
    padding: var(--tiny-2-4) 0;
    background-color: hsl(var(--gray-100), 1);
    font-family: 'Roboto', sans-serif;
    grid-template-columns: repeat(auto-fit, minmax(min(92%, var(--loMed-2-8)), 1fr));
    height: auto;
    overflow: hidden;
}

.photoContainer{
    display: grid;
    justify-self: center;
    --baseSize-w: var(--loMed-2-3);
    --edgeChase-w: var(--xTiny-1-1);
    --chaseStop-w: var(--hiMed-2-5);

}

.summary_photo{
    width: 100%;
    justify-self: center;
    align-self: flex-start;
    margin-top: var(--tiny-1-3);
    transform: translateX(-120%);
    opacity: 0;
    animation: summaryPhotoAnimation 300ms forwards;
    animation-delay: 4.5s;
}

@keyframes summaryPhotoAnimation{
    from{
        transform: translateX(-120%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.summaryTextContainer{
    --baseSize-w: var(--small-2-4);
    --edgeChase-w: var(--tiny-1-3);
    --chaseStop-w: var(--large-1-3);
    margin-top: var(--tiny-1-3);
    justify-self: center;
    align-self: flex-start;
    display: grid;
    grid-template-rows: auto auto;
    gap: var(--xTiny-1-3) 0;
    transform: translateX(120%);
    opacity: 0;
    animation: summaryTextAnimation 300ms forwards;
    animation-delay: 4.5s;
}

@keyframes summaryTextAnimation{
    from{
        transform: translateX(120%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.sectionTitle{
    --text-size: var(--text-headline-3);
    --kerning-nudge-amt: 3;
    text-align: center;
    color: hsl(var(--gray-700), 1);
}

.summaryText{
    --text-size: var(--text-article-3);
    --kerning-nudge-amt: 7;
    --leading-nudge-amt: 8;
    font-weight: 300;
    color: hsl(var(--gray-700), 1);
}

.emphasized{
    font-weight: 400;
}

.skillSection{
    font-family: 'Roboto', sans-serif;
    background-color: hsl(var(--gray-100), 1);
}

.techLogo{
    height: var(--xTiny-2-3);
    max-width: var(--tiny-1-4);
}