@import url('./assets/color_defs.css');
@import url('./assets//srcry/srcry.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.svgGraphics{ display: none; }

@keyframes scrollAnimation{
    from{
        transform: scale(.3);
    }
}

@media(prefers-reduced-motion: no-preference){
    .scroll_in{
        animation: scrollAnimation linear both;
        animation-timeline: view();
        animation-range: 10vh 50vh;
    }
}